__pycache__/
*.py[cod]
*$py.class

build/
/dist/
/misc/
/sample-data/
/tmp/
sample.zip

*.bak
*.log
*.cache
*.mwb
*.swp

.DS_Store
env/
env3/

.vagrant
vagrant-env/

tsx.conf
*.egg-info/
flask_session/

/.ipynb_checkpoints
