[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fiona = "*"
flask = "*"
flask-cors = "*"
flask-headers = "*"
flask-session = "*"
mysql-connector-python = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
pyproj = "*"
scipy = "*"
rpy2 = "*"
shapely = "*"
sqlalchemy = "*"
tqdm = "*"
sqlacodegen = "==3.0.0rc5"
passlib = "*"
argon2-cffi = "*"
watchdog = "*"
pytest = "*"
fpdf2 = "*"
matplotlib = "*"
flask-executor = "*"

[dev-packages]

[requires]
python_version = "3.9"
