[database]
type=mysql+mysqlconnector
host=localhost
username=
password=
name=tsx

[api]
secret_key=change_me
port=8080

[global]
data_dir=/opt/tsx

[processing]
min_year=1950
max_year=2015

[processing.alpha_hull]
thinning_distance=250
alpha=1.6
hullbuffer_distance=1000
isolatedbuffer_distance=1000
coastal_shp=/opt/tsx/spatial/AusCoast_Islands_1kmBuffer.shp
